/* Basislayout */

* {
    color: white;
}
html, body {
    height: 100%;
    padding: 0;
    background-color: transparent;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

main {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

h1{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}


.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inleiding {
    font-size: 125%;
}

#hoofdtitel {
    font-size: 200%;
}

/* navigatiebalk */
nav ul {
    height: 100%;
    width: 160px;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding: 10px;
    margin: auto;
    list-style-type: none;
    opacity: 0.8; 
    filter: alpha(opacity=20);

}

/* nav ul li {
    float: ;
} */

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 10px;
    font-size: 20px;
    text-decoration: none;
    opacity: 0,5;
}

nav li a:hover {
    background-color: #000035;
}

nav li a.active {
    background-color: #404040;
}

.title {
    margin-bottom: 3px;
    color: black;
}