/* Basislayout */

#index {
    color: white;
}
html, body {
    height: 100%;
    padding: 0;
    background-color: transparent;  
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    color: #303030;
}

main {
    margin: 0 auto;
    width: 900px;
    text-align: auto;
}

.titelpadding {
    padding: 10px;
}

h1{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

article {
    text-align: justify;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

#astronaut {
    float: left;
    margin-right: 15px;
}

#planeet_1 {
    float: right;
    margin-left: 15px;
}


.smalltext {
    font-size: 0.8em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inleiding {
    font-size: 150%;
}

#hoofdtitel {
    font-size: 600%;
}

/* navigatiebalk */
nav ul {
    height: 100%;
    width: 160px;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding: 10px;
    margin: auto;
    list-style-type: none;
    opacity: 0.8; 
    filter: alpha(opacity=20);

}

 
.cursor {
  cursor: url(afbeeldingen/spaceship1.png) 25 25, pointer;

}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 10px;
    font-size: 20px;
    text-decoration: none;
    opacity: 0,5;
}

nav li a:hover {
    background-color: #000035;
}

nav li a.active {
    background-color: #404040;
}

@media screen and (max-width: 1400px) {
    main {margin-left: 180px;}
    .container {margin-left: 180px;}
}

.titel {
    margin-bottom: 3px;
    color: black;
}

/* Titels Groot */

h1, p { margin: 0; }

.container {
    font-size: 11em;
    font-family: impact;
    left: 0;
    line-height: 100%;
    padding-top: 25px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    background-clip: border-box;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
}
#container1 {
    background-image: url("afbeeldingen/aarde2.jpg");
}

#container2 {
    background-image: url("afbeeldingen/solasystem.png");
}

#container3 {
    background-image: url("afbeeldingen/milkyway.jpg");
}

#container4 {
    background-image: url("afbeeldingen/sterren.jpg");
}

#container5 {
    background-image: url("afbeeldingen/supernova.jpg");
    font-size: 7em;
}
